body {
    background-color: #333;
    color: #FFF;

    max-width: 600px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

a.title {
    color: #FF9800;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

.puzzleno {
    border: 1px solid grey;
    color: grey;
    padding: .2em .5em;
    border-radius: 1em;
    text-align: right;
    float: right;
}

#container center {
    padding-top: 2rem;
}

.instructions {
    padding: 2rem 0 0 0;
}

.guessesheading {
    color: grey;
}

input[type="text"] {
    box-sizing: border-box;
    width: 100%;
}

button {
    background-color: #FF9800;
    color: #333;

    border: 0;
    margin-top: .5rem;

    cursor: pointer;

    width: 100%;
}

ul {
    list-style-type: none;
}

.error {
    background-color: #F00;
    color: #FFF;
}

input[type="text"], button, .error {
    padding: .5rem;
    font-size: 1.5rem;
}

.win {
    background-color: rgb(42 73 54);
    padding: 1rem;
}

.results {
    background-color: #333;
}
