<!DOCTYPE html>
<html lang="{{ language }}">
    <head>
        <title>alfagok</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/game.css">
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body>

        <div id="container" x-data="">

            <a href="/" x-cloak class="title">alfagok</a> <span class="puzzleno">puzzel #<span x-text="$store.alfagok.gameID"></span> • <span id="nextgame"></span></span>

            <div x-cloak class="instructions" x-show="$store.alfagok.guessesBefore.length === 0 && $store.alfagok.guessesAfter.length === 0">
                <p>Raad het woord van de dag. Elke gok geeft een hint over waar het woord zich in het alfabet bevindt.</p>
            </div>

            <center>

                <ul>
                    <template x-for="item in $store.alfagok.guessesBefore" :key="item">
                        <li x-text="item"></li>
                    </template>
                </ul>

                <input type="text" autocomplete="new-password" autocorrect="off" x-model="$store.alfagok.guessValue" @keyup.enter="$store.alfagok.doGuess()">
{#                <p x-cloak>Je huidige gok is: <span x-text="$store.alfagok.guessValue"></span></p>#}
                <button @click="$store.alfagok.doGuess()">Doe een gok</button>
                <p x-show="$store.alfagok.guessError" x-text="$store.alfagok.guessError"></p>

                <ul>
                    <template x-for="item in $store.alfagok.guessesAfter" :key="item">
                        <li x-text="item"></li>
                    </template>
                </ul>


                <div>
                    <div x-show="$store.alfagok.winTime" class="win">
                        <h3><b>Je hebt hem! 🎉</b></h3>
                        <p>Het woord van vandaag was <b x-text="$store.alfagok.guessValue"></b>.</p>
                        <div id="stats">
                            <div id="results">
                                <p><b x-data="{ message: '🧩 Puzzel #' + $store.alfagok.gameID }" x-text="message"></b></p>
                                <p x-data="{ message: '🤔 '+ $store.alfagok.nrGuesses + ' gokken' }" x-text="message"></p>
                                <p x-data="{ message: '⏱️ ' + getFormattedTime($store.alfagok.winTime - $store.alfagok.startTime) }" x-text="message"></p>
                                <p>🔗 <span style="color:var(--blue)">alfagok.diginaut.net</span></p>
                            </div>
                        </div>
                        <div id="copyresults"></div>
                        <button class="copy" data-clipboard-target="#results">
                              Tik om te kopi&euml;ren en te delen ❤️
                        </button>
                    </div>
                </div>
            </center>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js" rel=preload></script>
        <script src="/static/game.js"></script>
{#
        <button x-data @click="$store.darkMode.toggle()">Toggle Dark Mode</button>
        <div x-data :class="$store.darkMode.on && 'bg-black'">...</div>
#}

    </body>
</html>
