<!DOCTYPE html>
<html lang="{{ language }}">
    <head>
        <title>alfagok</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Raad het woord van de dag. Elke gok geeft een hint over waar het woord zich in het alfabet bevindt. Iedereen speelt hetzelfde woord.">
        <link rel="stylesheet" href="/static/game.css">
        <link id="favicon" rel="icon" type="image/x-icon" href="static/images/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
        <link rel="manifest" href="static/images/site.webmanifest">
        <script src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body>

        <div id="container" x-data="">

            <a href="/" x-cloak class="title">alfagok</a> <span class="puzzleno">puzzel #<span x-text="$store.alfagok.gameID"></span> • <span id="nextgame"></span> | <span x-text="$store.alfagok.countingDown"></span> • <span x-text="$store.alfagok.nrGuesses"></span> gokken</span>

            <div x-cloak class="instructions" x-show="$store.alfagok.guessesBefore.length === 0 && $store.alfagok.guessesAfter.length === 0">
                <p>Raad het woord van de dag. Elke gok geeft een hint over waar het woord zich in het alfabet bevindt.</p>
                <p x-show="$store.alfagok.isLocalStorageAvailable"></p>
            </div>

            <p class="guessesheading" x-cloak x-show="$store.alfagok.guessesBefore.length">Het woord van de dag komt <em>na</em>:</p>
            <ul class="guessesbefore">
                <template x-for="item in $store.alfagok.guessesBefore" :key="item">
                    <li x-text="item"></li>
                </template>
            </ul>

            <div x-show="!$store.alfagok.winTime">
                <input type="text" autocomplete="new-password" autocorrect="off" x-model="$store.alfagok.guessValue" @keyup.enter="$store.alfagok.doGuess()">
{#                <p x-cloak>Je huidige gok is: <span x-text="$store.alfagok.guessValue"></span></p>#}
                <button @click="$store.alfagok.doGuess()">Doe een gok</button>
                <p class="error" x-cloak x-show="$store.alfagok.guessError" x-text="$store.alfagok.guessError"></p>
            </div>

            <div x-cloak x-show="$store.alfagok.winTime" class="win">
                <h3><b>Je hebt hem! 🎉</b></h3>
                <p>Het woord van vandaag was <b x-text="$store.alfagok.guessValue"></b>.</p>
                <div id="stats">
                    <div id="results">
                        <p><b x-text="$store.alfagok.resultGameID"></b></p>
                        <p x-text="$store.alfagok.resultGuesses"></p>
                        <p x-text="$store.alfagok.resultTimeTaken"></p>
                        <p>🔗 <span style="color:var(--blue)">alfagok.diginaut.net</span></p>
                    </div>
                </div>
                <div id="copyresults"></div>
                <button class="copy" data-clipboard-target="#results">
                      Tik om te kopi&euml;ren en te delen ❤️
                </button>
            </div>

            <p class="guessesheading" x-cloak x-show="$store.alfagok.guessesAfter.length">Het woord van de dag komt <em>voor</em>:</p>
            <ul class="guessesafter">
                <template x-for="item in $store.alfagok.guessesAfter" :key="item">
                    <li x-text="item"></li>
                </template>
            </ul>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
        <script src="/static/game.js"></script>
{#
        <button x-data @click="$store.darkMode.toggle()">Toggle Dark Mode</button>
        <div x-data :class="$store.darkMode.on && 'bg-black'">...</div>
#}

    </body>
</html>
